<h1>This is the create new student page!</h1>
<% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |message|%>\
    <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= render partial: "form", locals: {student: @student} %>

<h3>Or Log In with Google</h3>
<%= button_to 'Google', '/auth/google_oauth2' %>


