<h1>Welcome to Chesapeake Clown College</h1>

<% if logged_in? || teacher_logged_in? %>
    <p>Welcome</p>
    <% if session[:teacher] %>
       <%= link_to 'Profile', teacher_path(current_teacher.id) %><br>
    <% else %>
        <%= link_to 'Profile', student_path(current_user.id) %><br>
    <% end %>
    <%= button_to 'Logout', logout_path %>
<% else %>
    <p>Please sign in or sign up below:</p>
    <a href="/students/new">Student Sign Up</a><br>
    <a href="/sessions/new">Student Sign In</a><br>
    <a href="/teachers/new">Teacher Sign Up</a><br>
    <a href="/sessions/teacher_new">Teacher Sign In</a><br>
<% end %>